<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Network{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'feed' %}">SocialPPM</a>

            <div class="d-flex align-items-center">
                {% if user.is_staff %}
                      <a href="{% url 'admin:index' %}" class="btn btn-warning me-2">Pannello Admin</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <span class="text-white me-3">Ciao, <strong>{{ user.username }}</strong>!</span>
                    <a href="{% url 'profile' user.username %}" class="btn btn-outline-light btn-sm me-2">Il mio Profilo</a>
                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Esci</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm me-2">Accedi</a>
                    <a href="{% url 'register' %}" class="btn btn-success btn-sm">Registrati</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>